# CLion

.idea/

# CMake

cmake-build-debug/
cmake-build-release/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
vcpkg
# Executables

*.exe
*.out

# Libraries

*.dll
*.so
*.dylib
*.lib

# Object files

*.o
*.obj
*~
# Debug

*.pdb

# Logs

*.log

# OS

.DS_Store
Thumbs.db
